*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
body{
    padding: 20px;
    line-height: 35px;
}
input{
    cursor: pointer;
}
label {
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
.simpleRadio{
    border: solid 1px gray;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px 8px 8px 8px;
}
.disabled-div{
    border: solid 1px gray;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px 8px 8px 8px;
}
.radio-Group-container{
    border: solid 1px gray;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px 8px 8px 8px;
}
.vertical-radio-Group-container{
    border: solid 1px gray;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px 8px 8px 8px;
}
.block-radio-div{
    border: solid 1px gray;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px 8px 8px 8px;
}
.radio-style-div{
    border: solid 1px gray;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px 8px 8px 8px;
}





.radio-main-container{
    /* border: solid blue; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.disablebtnClass{
    /* border: solid; */
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.radioGroup{
    /* border: solid; */
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.blockRadioDiv1{
    border: solid;
    display: flex;
    flex-direction: row;
    gap: 18px;
}
.blockRadioDiv2{
    border: solid;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.blockRadioDiv2 button{
    border: solid;
    width: 13%;
}
.blockRadioDiv3{
    border: solid;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.radioStyleDiv1{
    border: solid;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.radioStyleDiv1{
    border: solid;
}
.radioStyleDiv2{
    border: solid red;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
/* .radioStyleDiv2:nth-child(){
    
} */
.radioStyleDiv3{
    border: solid;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

