h3{
    margin: 20px;
    font-family: sans-serif
}
.input-container{
    display: flex;           
    align-items: center;     
    border: 1px solid #ccc;    
    border-radius: 4px;         
    padding: 5px 10px;         
    background-color: white;   
    width: 400px;           
    box-sizing: border-box; 
}
.simple-input{
    flex-grow: 1;           
    border: none;     
    width: 80px;         
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.password-input{
    flex-grow: 1;           
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.email-input{
    flex-grow: 1;           
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.number-input{
    flex-grow: 1;           
    border: none;              
    outline: none;             
    font-size: 14px;       
    padding: 8px;             
    color: inherit;           
    border-radius: 4px; 
}
.twotype-inputContainer{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.small-input{
    width: 70px;
    padding: 8px;  
    border-radius: 4px;
}
.medium-input{
    width: 200px;
    padding: 8px;
    border-radius: 4px;
}

.threetype-inputConatiner{
    display: flex;           
    align-items: center;     
    border: 1px solid #ccc;    
    border-radius: 4px;         
    padding: 5px 10px;         
    background-color: white;   
    width: 400px;           
    box-sizing: border-box; 
}

.inputSpinnerbtn-container{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
    width: 400px;
    box-sizing: border-box;
    position: relative;
}
.inputSpinnerbtn-container button{
    width: 40px; 
    height: 43px;
    position: absolute; 
    right: 0; 
    top: 0;
    padding: 0; 
    border: none;
    color: white;
    border-radius: 4px;
    background-color:#4096ff;
}

.inputSpinner-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
    width: 400px;
    box-sizing: border-box;
    position: relative;
}

.inputSpinner-container input {
    border: none;
    width: 300px;
    outline: none;
    font-size: 14px;
    padding: 8px;
    color: inherit;
    border-radius: 4px;
}

.inputSpinner-container button {
    width: 120px; 
    height: 43px;
    position: absolute; 
    right: 0; 
    top: 0;
    padding: 0; 
    border: none;
    color: white;
    border-radius: 4px;
    background-color:#4096ff;
}
.inner{
    padding: 8px;
    border-radius: 4px;
    width: 80px;
    border: none;              
    outline: none;             
    font-size: 14px; 
}
.outer{
    padding: 8px;
    border-radius: 4px;
    width: 80px;
    border: none;              
    outline: none;             
    font-size: 14px; 
}
.innersecond-com{
    padding: 8px;
    border-radius: 4px;
    width: 80px;
    border: none;              
    outline: none;             
    font-size: 14px;  
}
.outersecond-com{
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: none;              
    outline: none;             
    font-size: 14px;  
}

.Large-Size{
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    padding: 8px;
}

.btnsearch{
    display: flex;           
    align-items: center;     
    border: 1px solid #ccc;    
    border-radius: 4px;         
    padding: 5px 10px;         
    background-color: white;   
    width: 400px;           
    box-sizing: border-box; 
    position: relative;
}
.btnsearch input{
    border: none;
    width: 300px;
    outline: none;
    font-size: 14px;
    padding: 8px;
    color: inherit;
    border-radius: 4px;
}
.btnsearch button{
    width: 40px; 
    height: 42.8px;
    position: absolute; 
    text-align: center;
    right: 0; 
    top: 0;
    padding: 0; 
    border: none;
    color: white;
    border-radius: 4px;
    background-color:#4096ff;
}
.mictype-conatiner{
    display: flex;           
    align-items: center;     
    border: 1px solid #ccc;    
    border-radius: 4px;         
    padding: 5px 10px;         
    background-color: white;   
    width: 400px;           
    box-sizing: border-box; 
    position: relative;
}
.mictype-conatiner input{
    border: none;
    width: 300px;
    outline: none;
    font-size: 14px;
    padding: 8px;
    color: inherit;
    border-radius: 4px;
}
.mictype-conatiner button{
    width: 40px; 
    height: 42.8px;
    position: absolute; 
    text-align: center;
    right: 0; 
    top: 0;
    padding: 0; 
    border: none;
    color: white;
    border-radius: 4px;
    background-color:#4096ff;
}
.passwordIcon-container{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
    width: 400px;
    box-sizing: border-box;
    position: relative;
}
.passwordIcon-container input{
    border: none;
    width: 350px;
    outline: none;
    font-size: 14px;
    padding: 8px;
    color: inherit;
    border-radius: 4px;
}
.showpassword-container{
    display: flex;           
    align-items: center;     
    border: 1px solid #ccc;    
    border-radius: 4px;         
    padding: 5px 10px;         
    background-color: white;   
    width: 400px;           
    box-sizing: border-box; 
    position: relative;
}
.showpassword-container input{
    border: none;
    width: 270px;
    outline: none;   
    font-size: 14px;
    padding: 8px;
    color: inherit;
    border-radius: 4px;
}
.showpassword-container button{
    width: 70px; 
    height: 42.8px;
    position: absolute; 
    text-align: center;
    right: 0; 
    top: 0;
    padding: 0; 
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    background-color:#4096ff;
}
.input-containerOpt{
    display: flex;           
    align-items: center;     
    border: 1px solid #ccc;    
    border-radius: 4px;         
    padding: 5px 10px;         
    background-color: white;   
    width: 400px;           
    box-sizing: border-box; 
    gap: 20px;
}
.input-containerOpt input{
    padding: 6px;
    border:1px solid #ffa5a5 ;
    border-radius: 4px;
}
.error-show{
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px red;
    margin-bottom: 10px;
    margin-top: 10px;
}
.error-show:focus{
    border: solid 1px red;
    outline: none;
}
.warning-show{
    width: 400px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #FF9800;
    margin-bottom: 10px;
}
.warning-show:focus{
    border: solid 1px #FF9800;
    outline: none;
}